/* Variables for theme colours */

:root { 
        --arcane-gold-dark: #B3893C;
        --arcane-gold-light: #D4AF37;
        --deep-night: #0C1C2E;
        --arcane-blue:#122639;

        /* Potential */
        --celestial-azure: #4A90E2;
        --runestone-gray: #6E7F80;
        --eldritch-violet: #6B3FA0;
        --enchanted-ember: #C1440E;
        --moonlit-silver: #C0C0C0;

        /* Obsidian Shadow: #1C1C1C; */
        --obsidian-lightest: #A6A6A6;
        --obsidian-light: #737373;
        --obsidian-mid: #4D4D4D;
        --obsidian-base: #1C1C1C;
        --obsidian-deep: #141414;
        --obsidian-darkest: #0A0A0A;

        /* Mystic Sapphire: #0F52BA; */
        --sapphire-lightest: #B3CFF0;
        --sapphire-light: #6699D6;
        --sapphire-mid: #336EBF;
        --sapphire-base: #0F52BA;
        --sapphire-deep: #0B3E8C;
        --sapphire-darkest: #072B61;

        /* Arcane Gold*/
        --arcane-gold-dark: #B3893C;
        --arcane-gold-light: #D4AF37;
        
        --sidebar-width: 180px;
        --sidebar-width-collapsed: 80px;
    }